.main{
    float: left;
    /*margin-left: 20px;*/
}
.content{
    width: 957px;
    position: relative;
    height:13%;
    padding: 8px 10px;
    border: 1px solid #b7bbbf;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
}
.spancount{
    position: absolute;
    margin-right:1%;
    line-height: 100%;
    font-size: 12px;
    right: 5px;
    bottom: 20px;
    color: #d0d6d9;
}
.buton{
    margin-right: 50px;
    float: right;
}
.sendinput{
    position:absolute;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 12px;
    width: 90px;
    height: 30px;
}
.retext{
    display: block;
    width: 88%;
    min-height: 13%;
    padding: 8px;
    color: #555;
    font-size: 14px;
    resize: none;
    line-height: 18px;
    font-family: Microsoft YaHei;
}
.rediv{
    position: relative;
}
.buo{
    font-size: 13px;
    width: 52px;
    margin-top: -4%;
    margin-left: 81%;
    height: 28px;
    position: absolute;
}